@import 'theme';

.main-nav {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    transition: all 0.3s;
    counter-reset: nav-item;

    &.sticky {
        position: fixed !important;
        background: rgba(6, 16, 31, 0.85);
        backdrop-filter: blur(15px);
        box-shadow: 0 10px 30px -10px $navy-shadow;

        .nav-wrapper {
            padding: 14px 45px;

        }
    }

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        padding: 24px 45px;
        transition: all 0.3s;

        .l-part {
            display: flex;
            gap: 12px;
            align-items: center;

            .logo-wrapper {

                .logo-text {
                    font-size: 27px;
                    font-weight: 600;
                    color: $primary;
                }

                svg {
                    width: 50px;
                    height: 50px;

                    stroke: $primary;

                    .logo-inner {
                        width: 50%;
                    }
                }
            }
        }

        .r-part {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .nav-list {
            display: flex;
            align-items: center;
            padding-left: 0;
            margin-bottom: 0;
            margin-right: 1em;

            li {

                a {
                    display: inline-block;
                    font-size: 14px;
                    color: $white;
                    text-decoration: none;
                    font-weight: 400;
                    transition: all 0.3s;
                    position: relative;
                    padding: 0.5em 1em;
                    font-family: $secondary;
                    transition: $transition;

                    &:hover {
                        color: $primary;


                    }

                    &.active {
                        position: relative;
                    }

                    &:before {
                        counter-increment: nav-item;
                        content: "0"counter(nav-item) ".";
                        margin-right: 3px;
                        color: $primary;
                        font-size: 13px;
                        font-family: $fira;
                        text-align: right;
                        transition: $transition;
                    }
                }
            }
        }
    }
}


#toggle {
    width: 28px;
    height: 30px;
    cursor: pointer;
    display: none;
}

#toggle div {
    width: 100%;
    height: 5px;

    background: $white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}


@media (max-width: 736px) {
    .main-nav .nav-wrapper .r-part .nav-list {
        display: none;
    }

    #toggle {
        display: block;
    }

    .main-nav .nav-wrapper {
        padding: 10px 15px;
    }
    .side-menu{
        display: flex;
    }
}

.side-menu {
    display: flex;
    visibility: visible;
    position: fixed;
    z-index: 1001;
    right: 0;
    bottom: 0;
    top: 0;
    width: min(75vw , 400px);
    min-height: 100vh;
    background-color: $light-navy;
    box-shadow: -10px 0px 30px -15px $navy-shadow;
    transition: $transition;


    &.hidden {
        transform: translateX(100vw);
    }

    &.visible {
        transform: translateX(0vw);

    }

}

.mob-nav {

    background: $bg;
    margin: 0 auto;
    padding: 12px 0px;
    display: none;
}

.mob-nav .nav-list {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.mob-nav .nav-list li:last-child a {
    border: none !important;
}

.mob-nav .nav-list li a {
    padding: 15px 15px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}