@import 'theme';

.main-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    transition: all 0.3s;
    counter-reset: nav-item;
    overflow: hidden;

    &.sticky {
        position: fixed !important;
        background: rgba(10, 25, 47, 0.85);
        backdrop-filter: blur(10px);
        filter: none !important;
        box-shadow: 0 10px 30px -10px $navy-shadow;


        .nav-wrapper {
            padding: 14px 45px;

        }
    }

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        padding: 28px 50px;
        transition: all 0.3s;

        .l-part {
            display: flex;
            gap: 12px;
            align-items: center;

            .logo-wrapper {

                .logo-text {
                    font-size: 27px;
                    font-weight: 600;
                    color: $primary;
                }

                .logo {
                    transition: $transition;

                    svg {
                        width: 48px;
                        height: 45px;
                        stroke: $primary;
                        transition: $transition;
                        cursor: pointer;

                        .logo-icon {
                            fill: $primary !important;
                            transition: $transition;
                        }

                        .-logo-stroke {
                            transition: $transition;
                        }
                    }

                    &:hover {
                        svg {
                            .logo-stroke {
                                fill: $primary-tint;
                            }
                        }
                    }
                }

            }
        }

        .r-part {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .nav-list {
            display: flex;
            align-items: center;
            padding-left: 0;
            margin-bottom: 0;
            margin-right: 1em;

            li {

                a {
                    display: inline-block;
                    font-size: 14px;
                    color: $white;
                    text-decoration: none;
                    font-weight: 400;
                    transition: all 0.3s;
                    position: relative;
                    padding: 0.5em 1em;
                    font-family: $font-secondary;
                    transition: $transition;

                    &:hover {
                        color: $primary;


                    }

                    &.active {
                        color: $primary;
                    }

                    &:before {
                        counter-increment: nav-item;
                        content: "0"counter(nav-item) ".";
                        margin-right: 3px;
                        color: $primary;
                        font-size: 13px;
                        font-family: $fira;
                        text-align: right;
                        transition: $transition;
                    }
                }
            }
        }

        .main-btn {
            width: max-content;
            padding: 0.9em 1em;
            line-height: 1;
            border-radius: 4px;
            font-family: $main;
            font-size: 13px;
            font-weight: 500;
        }
    }
}


#toggle-nav {
    width: 35px;
    height: 30px;
    cursor: pointer;
    display: none;
    z-index: 999999;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    transition: $transition;
}

#toggle-nav div {
    height: 3px;
    background: $primary;
    transition: all 0.3s;
    backface-visibility: hidden;
    margin-left: auto;

    &.one {
        width: 100%;

    }

    &.two {
        width: 75%;

    }

    &.three {
        width: 50%;

    }
}


#toggle-nav.on {
    transform: rotate(360deg);
    width: 30px;

    div {
        border-radius: 10px;
    }
}

#toggle-nav.on .one {
    transform: rotate(45deg) translate(5px, 5px);
    width: 100%;

}

#toggle-nav.on .two {
    opacity: 0;
}

#toggle-nav.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
    width: 100%;

}


@media (max-width: 800px) {

    .main-nav {
        overflow: unset;


        .nav-wrapper {
            padding: 1em !important;
        }

        &.sticky {

            .nav-wrapper {
                padding: 10px 15px;

            }
        }
    }

    .main-nav .nav-wrapper .r-part .nav-list {
        display: none;
    }

    .main-nav .nav-wrapper .r-part {
        button {
            display: none;
        }
    }

    #toggle-nav {
        display: flex;
        gap: 6px;
    }

    .main-nav .nav-wrapper {
        padding: 10px 15px;
    }

    .side-menu {
        display: flex;
    }
}

.side-menu {
    display: flex;
    visibility: visible;
    position: fixed;
    z-index: 1001;
    right: -2px;
    bottom: -2px;
    top: 0;
    width: min(75vw, 400px);
    min-height: 100vh;
    background-color: $light-navy;
    box-shadow: -10px 0px 30px -15px $navy-shadow;
    transition: $transition;

    &.hidden {
        transform: translateX(100vw);
    }

    &.visible {
        transform: translateX(0vw);

        &:before {
            width: 200%;
        }

    }


    .mob-nav {

        position: relative;
        padding: 20px 20px;
        width: 100%;

        .mob-nav-head {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            .logo-wrapper {

                .logo-text {
                    font-size: 27px;
                    font-weight: 600;
                    color: $primary;
                }

                .logo {
                    transition: $transition;

                    svg {
                        width: 48px;
                        height: 45px;
                        stroke: $primary;
                        transition: $transition;
                        cursor: pointer;

                        .logo-icon {
                            fill: $primary !important;
                            transition: $transition;
                        }

                        .logo-stroke {
                            transition: $transition;
                            height: 0 !important;
                            width: 0 !important;

                        }
                    }

                    &:hover {
                        svg {
                            .logo-stroke {
                                fill: $primary-tint;
                            }
                        }
                    }
                }

            }

            .cont {
                h4 {
                    font-family: $fira;
                    font-size: 15px;
                    color: $white;
                }

                padding: 1em 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }


        }


        .mob-nav-list {
            display: flex !important;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            position: relative;
            padding: 1.5em 0;

            button {
                width: 100%;
            }

            li {
                display: block;

                a {
                    display: block;
                    width: 100%;
                    font-size: 16px;
                    color: $white;
                    text-decoration: none;

                    &.active{
                        color: $primary;
                    }

                    &:before {
                        counter-increment: nav-item;
                        content: "0"counter(nav-item) ".";
                        margin-right: 4px;
                        color: $primary;
                        font-size: 16px;
                        font-family: $fira;
                        text-align: right;
                        transition: $transition;
                    }

                }
            }

            button {
                display: flex;
            }

        }



    }
}