// nav styling

.main-nav {

    .container {
        max-width: 1200px !important;
    }

    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    background: $dark;
    transition: all 0.3s;

    &.sticky {
        position: sticky;
        background: $dark;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

        .nav-wrapper {
            padding: 15px 0px;
        }


        .sticky-logo {
            display: block !important;
            width: 130px;
        }

        .non-sticky-logo {
            display: none;
        }

        .nav-list {
            li {
                a {
                    color: $light !important;
                }
            }
        }

    }

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        transition: all 0.3s;

        .l-part {
            display: flex;
            gap: 12px;
            align-items: center;

            .logo-wrapper {
                max-width: 180px;

                .logo-text {
                    font-size: 25px;
                    font-weight: 700;
                    color: $white;
                }
            }
        }

        .r-part {
            display: flex;
            align-items: center;
            gap: 12px;

            .nav-list {
                display: flex;
                align-items: center;
                padding-left: 0;
                margin-bottom: 0;

                li {

                    a {
                        display: inline-block;
                        padding: 12px 20px;
                        font-size: 14px;
                        color: $white;
                        text-decoration: none;
                        font-weight: 500;
                        transition: all 0.3s;
                        position: relative;

                        &.active {
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                left: 20%;
                                bottom: 5px;
                                width: 60%;
                                height: 2px;
                                background: $primary;
                                transition: all 0.5s;
                            }
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            left: 20%;
                            bottom: 5px;
                            width: 0%;
                            height: 2px;
                            background: $primary;
                            transition: all 0.5s;
                        }

                        &:hover {
                            // color: $orange;
                            // transform: translateX(-2px);

                            &:before {
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}


#toggle {
    width: 28px;
    height: 30px;
    cursor: pointer;
    display: none;
}

#toggle div {
    width: 100%;
    height: 5px;

    background: $white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}


@media (max-width: 736px) {
    .main-nav .nav-wrapper .r-part .nav-list {
        display: none;
    }

    #toggle {
        display: block;
    }

    .main-nav .nav-wrapper {
        padding: 10px 15px;
    }
}

.mob-nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    background: $white;
    margin: 0 auto;
    padding: 12px 0px;
    display: none;
}

.mob-nav .nav-list {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.mob-nav .nav-list li:last-child a {
    border: none !important;
}

.mob-nav .nav-list li a {
    padding: 15px 15px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}