@import 'general';
@import 'theme';
@import 'spacing';
@import 'navbar';
@import 'anim';

// Main
#main {
    background: $navy;
    min-height: 100vh;

    .left-side-socail-list {
        position: fixed;
        left: 40px;
        bottom: 0;
        z-index: 999;

        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            align-items: center;
            gap: 20px;
            position: relative;

            &:after {
                content: '';
                display: block;
                height: 90px;
                width: 1px;
                background: $light;
                margin: 0 auto;
            }

            li {

                a {
                    padding: 0.7em;

                    &:hover {

                        svg {
                            fill: $primary;
                            transform: translateY(-3px);
                            box-shadow: $shadow-1;
                        }
                    }

                    svg {
                        fill: $light;
                        width: 20px;
                        height: 20px;
                        transition: $transition;
                    }
                }


                &:last-child {

                    a {
                        svg {
                            fill: none;
                            stroke: $light;
                        }

                        &:hover {
                            svg {
                                stroke: $primary;
                            }
                        }
                    }

                }
            }
        }
    }

    .right-side-email {
        position: fixed;
        right: 40px;
        bottom: 0;
        z-index: 999;

        div {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;


            &:after {
                content: '';
                display: block;
                height: 90px;
                width: 1px;
                background: $light;
                margin: 0 auto;
            }
        }



        a {
            margin: 20px auto;
            padding: 10px;
            font-family: $font-secondary;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1em;
            writing-mode: vertical-rl;
            color: $light;
            transition: $transition;

            &:hover {
                color: $primary;
                transform: translateY(-4px);
            }

        }
    }
}


// Page loader
.page-loader {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: $navy;
    box-sizing: border-box;
    transition: all 0.40s ease;



    &.hide {
        transform: translateY(-100%);
        z-index: -1000;

    }

    h1 {
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 0;
        margin: 0;

        svg {
            width: 20px;
            height: 20px;
            display: inline-block;
        }
    }

    svg {
        z-index: 999999999;
    }

    svg .svg-elem-1 {
        stroke-dashoffset: 254.78741455078125px;
        stroke-dasharray: 254.78741455078125px;
        transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    }

    svg.active .svg-elem-1 {
        stroke-dashoffset: 0;

    }

    svg .svg-elem-2 {
        stroke-dashoffset: 319.216064453125px;
        stroke-dasharray: 319.216064453125px;
        fill: transparent;
        transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
            fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    }

    svg.active .svg-elem-2 {
        stroke-dashoffset: 0;
        fill: rgb(100, 255, 218);
    }



}

// Heder Sec
.header-sec {
    min-height: 100vh;
    padding-top: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;


    &:before {
        content: '';
        position: absolute;
        top: -100px;
        left: 0;
        height: calc(100% + 100px);
        width: 100%;
        background: url(/assets/images/hero_main.jpg);
        background-color: $navy;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: hue-rotate(150deg);
        z-index: 0;
    }

    .container {
        z-index: 2;
    }

    &:after {
        content: '';
        position: absolute;
        top: -100px;
        left: 0;
        height: calc(100% + 100px);
        width: 100%;
        background: $navy;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(5px);
        mix-blend-mode: soft-light;

    }

    .typwriter-wr {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .r-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        justify-content: flex-start;

        .img-wr {
            position: relative;
            width: max-content;
            cursor: pointer;

            &:hover {
                &:before {
                    transform: translate(12px, 12px);
                }

                img {
                    filter: grayscale(0);
                }

                &:after {
                    color: $primary;
                    font-weight: 900;
                    font-style: italic;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                border: 2px solid $primary;
                background-color: transparent;
                width: 100%;
                height: 100%;
                transform: translate(16px, 16px);
                border-radius: 5px;
                transition: $transition;
            }

            &:after {
                content: 'Connect with me';
                position: absolute;
                color: $light;
                top: 0;
                left: 0;
                z-index: 110;
                height: max-content;
                transition: $transition;
                writing-mode: vertical-rl;
                text-orientation: upright;
                transform: translateX(-30px);
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 100;
                transition: $transition;
            }

        }

        img {
            width: 280px;
            height: 280px;
            filter: grayscale(1);
            border-radius: 5px;
            transition: $transition;
        }

        .scl-list {
            ul {
                display: flex;
                align-items: center;
                gap: 10px;

                li {

                    a {
                        padding: 0.7em;

                        &:hover {

                            svg {
                                fill: $primary;
                                transform: translateY(-3px);
                                box-shadow: $shadow-1;
                            }
                        }

                        svg {
                            fill: $light;
                            width: 25px;
                            height: 25px;
                            transition: $transition;
                        }
                    }


                    &:last-child {

                        a {
                            svg {
                                fill: none;
                                stroke: $light;
                            }

                            &:hover {
                                svg {
                                    stroke: $primary;
                                }
                            }
                        }

                    }
                }
            }
        }
    }


}

#about {


    .l-part {
        width: 100%;
        position: relative;
        z-index: 0;
        cursor: pointer;
        height: max-content;
        border-radius: 5px;
        box-shadow: $shadow-1;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: $transition;
            border-radius: 5px;
            border: 2px solid $primary;
            transform: translate(-13px, 13px);
            z-index: -2;
            box-shadow: $shadow-1;
        }

        &:hover {

            &:after {
                transform: translate(-9px, 9px);
            }

            .img-wr {

                img {
                    filter: grayscale(0);
                }

                &:before {
                    opacity: 0;
                }

            }

        }

        .img-wr {
            position: relative;
            z-index: 0;
            cursor: pointer;

            img {
                width: 100%;
                filter: grayscale(0.5);
                transition: $transition;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $navy;
                mix-blend-mode: screen;
                transition: $transition;
                z-index: 2;
            }
        }


        .info-box {
            position: relative;
            z-index: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border: 2px solid $light-navy;
            background: $navy;
            box-shadow: $shadow-1;
            opacity: 1;

            .info-item {
                border-bottom: 2px solid $light-navy;
                padding: 0.7em 1.5em;
                display: flex;
                flex-direction: row;
                gap: 5px;
                overflow: hidden;

                &:last-child {
                    border: none;
                }

                .ttl {
                    width: 40%;
                    color: $light;
                    font-family: $font-secondary;
                    font-size: 14px;
                }

                .info-item-val {
                    width: 60%;

                    &#mrtz-age {
                        word-spacing: 0.3em;
                    }

                    a {
                        color: $white;
                        font-family: $font-secondary;
                        text-decoration: none;
                        font-size: 16px;
                        transition: $transition;
                        word-wrap: break-word;

                        &:hover {
                            color: $primary;
                        }

                    }

                    color: $white;
                    font-family: $font-secondary;
                    text-decoration: none;
                    font-size: 16px;

                }
            }
        }

    }


    .content {
        z-index: 20;
        width: 100%;
    }

    .tech-grid {
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;
            padding: 2em 0;

            li {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {


                    &.active {
                        fill: $primary !important;
                        transform: scale(1.5);
                    }

                    &.fill {
                        fill: $light;
                        transition: $transition;
                        cursor: pointer;
                        width: 50px;
                        height: 50px;

                        &:hover {
                            fill: $primary;
                        }
                    }
                }
            }
        }
    }
}

.project-sec {

    .pr-sec-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px 20px;
        margin: 2em 0;
    }

    .pr-card {
        width: 300px;
        max-width: 100%;
        height: 300px;
        max-width: 100%;
        border-radius: 4px;
        background-color: $light-navy;
        transition: $transition !important;
        box-shadow: $shadow-1;
        padding: 2rem 1.7rem;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .link-icon {
            width: 20px;
            box-shadow: $shadow-1;
            opacity: 0;
            transition: $transition;
            transform: rotate(50deg);
        }

        &:hover {

            transform: translateY(-6px) !important;

            .link-icon {
                opacity: 1;
                transform: rotate(0deg);

            }

            .pr-card-body {

                .pr-card-title {
                    color: $primary;
                }
            }

        }


        .pr-card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: visible;
            position: relative;
            height: 100%;

            header {

                .top {
                    padding-bottom: 1em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    svg {
                        stroke: $primary;
                        width: 35px;
                        height: 35px;
                    }

                    .cat {
                        color: $light;
                        font-family: $main;
                        text-transform: uppercase;
                        font-size: 11px;
                        font-weight: 600;
                    }
                }

                .pr-card-title {
                    font-size: 20px;
                    color: $lightest;
                    font-weight: 500;
                    text-transform: capitalize;
                }

                .date {
                    color: $light;
                    font-size: 11px;
                    text-transform: capitalize;
                }

                .para {
                    font-size: 13px;
                    color: $light-slate;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        .pr-card-tech-list {

            ul {
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: flex-start;

                li {
                    background-color: $navy;
                    padding: 0.4em 0.9em;
                    font-size: 10px;
                    color: $light;
                    border-radius: 50px;
                    text-transform: uppercase;
                }
            }

        }

    }


}

.blog-sec {
    position: relative;
    background: url(/assets/images/common-bg.svg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $navy;
        opacity: 0.99;
        mix-blend-mode: multiply;
        z-index: 0;
    }

    .blogSwiper {
        width: 100%;

        .swiper-wrapper {
            padding: 2em 0;
            height: 100%;

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }


        .blog-swiper-btns {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-bottom: 1em;

            button {
                outline: none;
                border: none;
                background-color: $light-navy;
                width: 40px;
                height: 40px;
                border-radius: 50px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: $transition;

                &:hover {
                    transform: scale(1.1);
                    background-color: $primary;

                    svg {
                        fill: $navy;
                    }
                }

                &.blog-button-next {
                    transform: rotate(180deg);

                    &:hover {
                        transform: rotate(180deg) scale(1.1);
                    }
                }

                svg {
                    fill: $primary;
                    height: 20px;
                    transition: $transition;
                }
            }
        }
    }

}


.blog-card {
    display: flex;
    flex-direction: column;
    width: 330px;
    min-width: 250px;
    height: 100%;
    max-width: 100%;
    position: relative;
    background: $light-navy;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: $shadow-1;
    transition: $transition;
    cursor: pointer;

    &:hover {
        transform: translateY(-6px);
    }

    .date {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(10px, 10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        box-shadow: $shadow-1;
        width: 45px;
        height: 45px;
        border-radius: 4px;
        font-weight: 500;
        color: #000000;
        font-size: 12px;
        border: none;
        outline: none;
        z-index: 1;
    }

    .img-wr {
        width: 100%;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: hue-rotate(150deg);
        }
    }

    .blog-body {
        max-height: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1.3em 1em;
        justify-content: space-between;

        .blog-title {
            font-size: 22px;
            color: $white;
        }

        .para {
            font-size: 14px;
        }

        .link-btn {
            display: flex;
            background-color: transparent;
            width: max-content;
            margin: auto;
            text-align: center;
            color: $primary;
            justify-content: center;
            transition: $transition;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: -2px;
                height: 1px;
                width: 0;
                left: 0;
                right: 0;
                margin: auto;
                background: $primary;
                opacity: 0.6;
                transition: $transition;
            }

            &:hover {
                color: $light;

                &:before {
                    width: 100%;
                }
            }
        }
    }
}

.footer-sec {
    .logo {

        svg {
            width: 30px;

            .logo-stroke {
                stroke: $primary;
            }

            .logo-icon {
                fill: $primary;
            }

        }
    }

    .ft-list {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .ft-list-head {
            height: 40px;

            a {
                font-size: 22px;
                color: $primary;
            }
        }

        li {
            a {
                padding: 0.5em 0;
                color: $light;
                font-size: 14px;
                transition: $transition;

                svg {
                    transition: $transition;
                }



                &:hover {
                    color: $primary;
                }
            }

            &.icon-li {
                &:hover {
                    a {
                        svg {
                            fill: $primary;
                            transform: scale(1.2);
                        }
                    }

                }
            }
        }

        .icon-li {
            a {
                display: flex;
                align-items: center;
                gap: 10px;


                svg {
                    width: 20px;
                    height: 20px;
                    fill: $light;
                }
            }
        }
    }
}

.ft-copy {

    .para {
        padding: 0;
        font-size: 14px;
    }
}

.project-page {
    counter-reset: num-heading;

    .num-heading {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        font-size: 32px;
        white-space: nowrap;
        color: $lightest;
        line-height: normal;
        max-width: 100%;

        &:before {
            position: relative;
            counter-increment: num-heading;
            content: "0"counter(num-heading) ".";
            margin-right: 10px;
            color: $primary;
            font-family: $fira;
            font-size: 20px;
            font-weight: 400;
        }

        &:after {
            content: "";
            display: block;
            position: relative;
            width: 300px;
            height: 1px;
            margin-left: 10px;
            background-color: $light;
            opacity: 0.2;
            top: 5px;
        }
    }

}

.blog-grid-wr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 30px;
    margin-top: 2em;
}