@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
.pb-20 {
  padding-bottom: 20px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.main-nav {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  transition: all 0.3s;
  counter-reset: nav-item;
}
.main-nav.sticky {
  position: fixed !important;
  background: rgba(6, 16, 31, 0.85);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0px 0px 38px -29px rgb(66, 68, 90);
}
.main-nav .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 24px 45px;
  transition: all 0.3s;
}
.main-nav .nav-wrapper .l-part {
  display: flex;
  gap: 12px;
  align-items: center;
}
.main-nav .nav-wrapper .l-part .logo-wrapper .logo-text {
  font-size: 27px;
  font-weight: 600;
  color: #ff014f;
}
.main-nav .nav-wrapper .l-part .logo-wrapper svg {
  width: 50px;
  height: 50px;
  stroke: #ff014f;
}
.main-nav .nav-wrapper .r-part {
  display: flex;
  align-items: center;
  gap: 12px;
}
.main-nav .nav-wrapper .nav-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}
.main-nav .nav-wrapper .nav-list li a {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
  position: relative;
  padding: 0.8em 1em;
  font-family: "Fira Code", monospace;
}
.main-nav .nav-wrapper .nav-list li a.active {
  position: relative;
}
.main-nav .nav-wrapper .nav-list li a:before {
  counter-increment: nav-item;
  content: "0" counter(nav-item) ".";
  margin-right: 5px;
  color: #ff014f;
  font-size: 14px;
  font-weight: 100;
  font-family: "Fira Code", monospace;
  text-align: right;
}

#toggle {
  width: 28px;
  height: 30px;
  cursor: pointer;
  display: none;
}

#toggle div {
  width: 100%;
  height: 5px;
  background: #ffffff;
  margin: 4px auto;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

@media (max-width: 736px) {
  .main-nav .nav-wrapper .r-part .nav-list {
    display: none;
  }
  #toggle {
    display: block;
  }
  .main-nav .nav-wrapper {
    padding: 10px 15px;
  }
}
.mob-nav {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  margin: 0 auto;
  padding: 12px 0px;
  display: none;
}

.mob-nav .nav-list {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.mob-nav .nav-list li:last-child a {
  border: none !important;
}

.mob-nav .nav-list li a {
  padding: 15px 15px;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #060606;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.sec {
  position: relative;
}

.header {
  height: 100vh;
}
.header:before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  height: calc(100% + 100px);
  width: 100%;
  background: url(/assets/images/hero_main.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.test {
  height: 100vh;
  border: none;
}/*# sourceMappingURL=main.css.map */