@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
.pb-20 {
  padding-bottom: 20px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.main-nav {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  transition: all 0.3s;
  counter-reset: nav-item;
}
.main-nav.sticky {
  position: fixed !important;
  background: rgba(6, 16, 31, 0.85);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}
.main-nav.sticky .nav-wrapper {
  padding: 14px 45px;
}
.main-nav .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 24px 45px;
  transition: all 0.3s;
}
.main-nav .nav-wrapper .l-part {
  display: flex;
  gap: 12px;
  align-items: center;
}
.main-nav .nav-wrapper .l-part .logo-wrapper .logo-text {
  font-size: 27px;
  font-weight: 600;
  color: #64ffda;
}
.main-nav .nav-wrapper .l-part .logo-wrapper svg {
  width: 50px;
  height: 50px;
  stroke: #64ffda;
}
.main-nav .nav-wrapper .l-part .logo-wrapper svg .logo-inner {
  width: 50%;
}
.main-nav .nav-wrapper .r-part {
  display: flex;
  align-items: center;
  gap: 12px;
}
.main-nav .nav-wrapper .nav-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 1em;
}
.main-nav .nav-wrapper .nav-list li a {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
  position: relative;
  padding: 0.5em 1em;
  font-family: "Montserrat", sans-serif;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.main-nav .nav-wrapper .nav-list li a:hover {
  color: #64ffda;
}
.main-nav .nav-wrapper .nav-list li a.active {
  position: relative;
}
.main-nav .nav-wrapper .nav-list li a:before {
  counter-increment: nav-item;
  content: "0" counter(nav-item) ".";
  margin-right: 3px;
  color: #64ffda;
  font-size: 13px;
  font-family: "Fira Code", monospace;
  text-align: right;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  z-index: 10000000000000002000;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#toggle div {
  height: 3px;
  background: #64ffda;
  margin: 3px auto;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-left: auto;
  margin-right: 0;
}
#toggle div.one {
  width: 100%;
}
#toggle div.two {
  width: 70%;
}
#toggle div.three {
  width: 50%;
}

#toggle.on {
  transform: rotate(360deg);
}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
  width: 100%;
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
  width: 100%;
}

@media (max-width: 736px) {
  .main-nav.sticky .nav-wrapper {
    padding: 10px 15px;
  }
  .main-nav .nav-wrapper .r-part .nav-list {
    display: none;
  }
  .main-nav .nav-wrapper .r-part button {
    display: none;
  }
  #toggle {
    display: flex;
  }
  .main-nav .nav-wrapper {
    padding: 10px 15px;
  }
  .side-menu {
    display: flex;
  }
}
.side-menu {
  display: flex;
  visibility: visible;
  position: fixed;
  z-index: 1001;
  right: -2px;
  bottom: -2px;
  top: 0;
  width: min(75vw, 400px);
  min-height: 100vh;
  background-color: #112240;
  box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.side-menu:before {
  content: "";
  position: absolute;
  height: 100%;
  transform: translateX(-100%);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: 99;
  top: 0;
  left: 0;
}
.side-menu.hidden {
  transform: translateX(100vw);
}
.side-menu.visible {
  transform: translateX(0vw);
}
.side-menu.visible:before {
  width: 200%;
}
.side-menu .mob-nav {
  position: relative;
  padding: 20px 20px;
  width: 100%;
}
.side-menu .mob-nav .mob-nav-head {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.side-menu .mob-nav .mob-nav-head svg {
  stroke: #64ffda;
}
.side-menu .mob-nav .mob-nav-head .cont {
  padding: 1em 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.side-menu .mob-nav .mob-nav-head .cont h4 {
  font-family: "Fira Code", monospace;
  font-size: 15px;
  color: #ffffff;
}
.side-menu .mob-nav .mob-nav-list {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 1em 0;
}
.side-menu .mob-nav .mob-nav-list button {
  width: 100%;
}
.side-menu .mob-nav .mob-nav-list li {
  display: block;
}
.side-menu .mob-nav .mob-nav-list li a {
  display: block;
  width: 100%;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
}
.side-menu .mob-nav .mob-nav-list li a:before {
  counter-increment: nav-item;
  content: "0" counter(nav-item) ".";
  margin-right: 3px;
  color: #64ffda;
  font-size: 13px;
  font-family: "Fira Code", monospace;
  text-align: right;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.side-menu .mob-nav .mob-nav-list button {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.container {
  max-width: 1320px !important;
}

.blur {
  overflow: hidden !important;
  position: relative;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.7em 1.2em;
  border: 1px solid #64ffda;
  cursor: pointer;
  background-color: #64ffda;
  line-height: 1;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #060606;
}
.main-btn:hover {
  background: transparent;
  color: #64ffda;
  border-color: #64ffda;
}
.main-btn.border {
  border: 1px solid #64ffda !important;
  background: transparent;
  color: #64ffda;
}
.main-btn.border:hover {
  background: rgba(100, 255, 218, 0.1);
  color: #64ffda;
}

.sec {
  position: relative;
}

.header {
  height: 100vh;
}
.header:before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  height: calc(100% + 100px);
  width: 100%;
  background: url(/assets/images/hero_main.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: hue-rotate(150deg);
}
.header:after {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  height: calc(100% + 100px);
  width: 100%;
  background: #0A192F;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  filter: blur(10px);
  mix-blend-mode: multiply;
}

.test {
  height: 100vh;
  border: none;
}/*# sourceMappingURL=main.css.map */