/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 479px) {


    #main {
        .container {
            padding: 0px 25px !important;
        }
    }

    .title {
        font-size: 32px !important;
        line-height: 40px !important;
        text-align: center !important;
    }

    .subtitle {
        text-align: center !important;
    }

    #about {
        .para {
            text-align: justify;
        }
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) and (min-width: 480px) {
    #main {
        .container {
            padding: 0px 50px !important;
        }
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px)and(min-width: 769px) {

    #main {
        .container {
            padding: 0px 70px !important;
        }
    }

    .title {
        font-size: 50px;
        line-height: 60px;
    }

    .mob-center {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1080px) {
    #main {
        .container {
            padding: 0px 100px;
        }

        .left-side-socail-list,
        .right-side-email {
            display: none !important;
        }

        .float-chat-icon {
            right: 10px;
            bottom: 20px;
            left: auto;
        }

    }
}